@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
.font-inter {
    font-family: 'Inter', sans-serif;
    color: #919191;
    text-transform: uppercase;
  }
.font-inter-white{
  font-family: 'Inter', sans-serif;
  color: white;
  text-transform: uppercase;
}