.bg-header{
    background-image: url('../assets/images/header.png'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}
.bg-footer{
    background-image: url('../assets/images/footer.png');
    background-size: contain;
    background-position: right; 
    background-repeat: no-repeat;
}