.swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 64px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
  }
  .container-carousel {
    .swiper-scrollbar {
      height: 3px; 
      background-color: #ebebeb; 
    }
  
    .swiper-scrollbar-drag {
      background-color: #1CA5DD; 
      border-radius: 1px; 
      width: 999px;
    }
  }
  .bg-image-carousel1 {
    background-image: url(../assets/images/carousel/carousel1.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    height: 65vh;
  }
  
  .bg-image-carousel2 {
    background-image: url(../assets/images/carousel/carousel2.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    height: 65vh;
  }
  
  .bg-image-carousel3 {
    background-image: url(../assets/images/carousel/carousel3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    height: 65vh;
  }
  
  .bg-image-carousel4 {
    background-image: url(../assets/images/carousel/carousel4.png);
    background-repeat: no-repeat;
    background-size: contain; 
    background-position: start; 
    height: 65vh;
  }
  
  .carousel-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: white;
    padding-top: 32px;
    padding-bottom: 32px;
  
    .prestation-carousel {
      width: 25%;
      padding: 8px; 
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .main-carousel {
      width: 75%;
    }
  }
  
  @media (max-width: 1440px) {
    .carousel-container {
      flex-direction: column;
  
      .prestation-carousel,
      .main-carousel {
        width: 100%;
      }
    }
  }
  