
@media (max-width: 1440px) {
    .container-responsive-bandeau-footer{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .bloc-responsive-text-bandeau-footer{
        padding-left:0px ;
    }
    .responsive-contact-footer{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
