.bloc-logo{
    background-color: white;
    width: 325px;
    height: 142px;
    z-index: 10;
}
.position{
    position: absolute;
    top: -92px;
    left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 13px 0px #89898980;
    border-radius: 0px 0px 30px 0px;    ;
}
.logo-img{
    object-fit: cover;
    width: 10vw;
    height: 4.2vh;
}