.container-map{
    display: flex;
    justify-content: center;
    margin-top: 30vh;
    margin-left: 20vw;
}


@media (max-width: 1440px) {
    .container-map{
        margin-left: 0vw;
    }
  }
  @media (max-width: 425px) {
    .container-map{
        margin-top: 0vw;
    }
  }
  