.responsive-partenaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
  
   
    h2 {
      font-size: 38px;
      line-height: 50px;
      letter-spacing: 0.63px;
      color: black;
    }
  
    .partenaires-images {
      display: flex;
      justify-content: center;
      gap: 16px; 
      flex-wrap: wrap; 
      align-items: center;
  
      img {
        margin-top: 30px;
        margin-left: 30px;
        padding: 8px;
        width: 10vw; 
        height: 10vh; 
        object-fit: contain;
      }
    }
  }

  @media (max-width: 1440px) {
    .responsive-partenaire {
      h2 {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: 0.5px;
      }
    }
  }
  

  @media (max-width: 768px) {
    .responsive-partenaire {
      h2 {
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0.4px;
      }
  
      .partenaires-images {
       
  
        img {
          margin: 5px;
          width: auto; 
          height: 40px; 
        }
      }
    }
  }
  

  