
.position-container{
    position: absolute;
    top: 450px;
    left: 335px;

}

.size-card{
    width: 295px;
    height: 390px;
}
.custom-select-wrapper {
    position: relative; /* Positionner le conteneur pour le SVG */
  }
  
  .custom-select {
    appearance: none; /* Supprimer l'apparence par défaut du select */
    padding-right: 2.5rem; /* Ajouter un espace pour le SVG */
  }
  
  .custom-select-icon {
    position: absolute;
    top: 50%;
    right: 1rem; /* Positionner le SVG */
    transform: translateY(-50%); /* Centrer le SVG verticalement */
    pointer-events: none; /* Ignorer les événements du pointeur sur le SVG */
  }
  